h1{
  text-align: center;

}

#board{
  background-color: gray;
  width: 800px;
  height: 800px;
  margin: 0px auto;
}

.cardsBack{
  background-color: black;
  width: 190px;
  height: 190px;
  margin: 5px;
  float:right;
  color:transparent;
}

.cardsFront {
  background-color: blue;
  color: white;

}

.textstyle {
  text-align: center;
  line-height: 95px;
  font-size: 50px;

}
